.app {
  composes: app from './app.css'
}

.title {
  composes: title from './app.css';
}

.button {
  composes: button from './app.css';
}

.storyText {
  composes: Amaticfont from './app.css';
  font-size: 27px;
  word-wrap: break-word;
  margin: 10px auto;
}

.storyImage {
  margin: 10px 0px;
}

.storyImage img {
  width: 100%;
}
